* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alterado para alinhar o início de todos os textos */
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.esquerda, .direita {
    width: 45%;
}

.esquerda {
    text-align: left;
}

.blue-text {
    color: blue;
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinha o início dos textos dos ícones */
    margin-top: 20px;
}

.feature {
    text-align: left; /* Alterado para alinhar o texto à esquerda */
    width: 45%; /* Manter largura consistente */
    padding: 10px; /* Adiciona espaçamento interno para organização */
}

.icon {
    width: 50px;
    margin-bottom: 10px;
}

.direita img {
    max-width: 100%;
    height: auto;
    border: 3px solid #ffffff;
    border-radius: 8px;
}

/* Responsividade */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .esquerda, .direita {
        width: 100%;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        width: 100%;
        margin-bottom: 20px;
    }
}
